

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background-color: #37393c;
    margin: 0px;
}
.main {
    margin: 8px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 90%;
}

.text-centre {
    text-align: center;
}

.navigation ul{
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: end;
    margin:  0 0 0px 0;
}

.logo {
    text-align: left;
    margin-left: 5px;
}
.logo p {
    font-size: large;
    margin: 0px;

}
.nav-item{
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 2px;
    border-radius:3px 3px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item svg {
    margin-right: 2px;
}

.nav-item.current a {
    font-weight: bold;
    color: #a7bbd7;
}

.message-alert {
    color: orangered;
}

.messenger {
    border: black solid 2px;
    padding: 10px;
    margin: 10px;
    border-radius: 2px 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70vh;
    overflow: scroll;
    background-color: #3c4859;
    justify-self: center;
}

.inbound {
    align-self: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.outbound {
    align-self: end;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.msg-bubble {
    border-radius: 4px 4px;
    background-color: #a1bdf2;
    padding: 5px;
}
.msg {
    margin: 0px;
}

.msg p {
    text-align: left;
    margin: 0px;
    color: black;
}
.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    border-radius: 2px 2px;
    padding: 5px 10px;
    margin: 5px 5px;
    gap: 10px;
    margin-top: auto;
}
input {
    background-color: white;
    color: black;
    border-radius: 2px 2px;
    border-style: hidden;
    width: 80%;
    height: 20px;
    padding-left: 3px;
}
button.send {
    background-color: darkgreen;
    color: white;
    width: 60px;
    
    
}
.button {
    text-align: center;
    border-radius: 2px 2px;
    padding: 4px;
}
.button.submit {
    background-color: #de2c2c;
}



@media (max-width: 600px) {
    header {
        display: inline-flex;
        flex-direction: row;
  
    }
    .logo {
        margin-left: 10px;
        width: 200px;
        text-align: left;
    }
    .navigation {
        padding-right: 5px;
        justify-content: right;
        align-items: end;
    }
    .navigation ul {
        display: flex;
    }


}